
<h2>Sign up</h2>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "well well-lg"}) do |f| %>
  <%= devise_error_messages! %>
<fieldset>
  <%= f.input :name, autofocus: true %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
<% end %>
</fieldset>
<%= render "devise/shared/links" %>
